html {
    background-color: black;
}

img {
    align: center;
    max-width: 100%;
}

h1 {
    color: red
}

.email {
    color: greenyellow
}

.phone {
    color:rgb(198, 163, 231)
}

a {
    color:white
}
